@import "~materialize_sass/materialize.scss";

@mixin weatherItem($grid-item, $font-size:1em) {
    margin: auto;
    grid-area: $grid-item;
    font-size: $font-size;
} 
.weather {
    display: grid;
    width: 25vw;
    margin: auto 0;
    margin-left: auto;

    grid-column: 10 / span 3;
    grid-row: 2 / span 1;

    grid-template-rows: $navbar-height auto;
    &:hover {
        >:nth-child(odd) {
            background-color: color("blue-grey", "darken-2");
        }
        .forecast {
            display: grid;
        }
    }
    
}
.weatherNow {
    
    display: grid;
    width: 25vw;
    height: $navbar-height;
    line-height: $navbar-height/3;
    color: white;
    background-color: color("blue-grey", "base");

    grid-row: 1/ span 1;
    
    grid-template-rows: 3;
    grid-template-columns: 3;
    grid-template-areas:
    ". city ."
    "low now high"
    "humidity condition UV";
    
    .weatherNow__date {
        @include weatherItem(date);
    }
    .weatherNow__city {
        @include weatherItem(city, 1.1em);
    }
    .weatherNow__low {
        @include weatherItem(low, 1.3em);
    }
    .weatherNow__tempNow {
        @include weatherItem(now, 1.4em);
    }
    .weatherNow__high {
        @include weatherItem(high, 1.3em);
    }
    .weatherNow__humidity {
        @include weatherItem(humidity);
    }
    .weatherNow__condition {
        @include weatherItem(condition, 1.2em);
    }
    .weatherNow__uvIndex {
        @include weatherItem(UV);
    }
}
.forecast {
    display: none;
    width: 25vw;
    margin: auto;
    height: $navbar-height;
    line-height: $navbar-height/4;
    background-color: color("blue-grey", "base");   
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        ". day windS"
    "low condition windD"
    "high . humidity";
    .forecast__day {
        @include weatherItem(day, 1.2em);
    }
    .forecast__condition {
        @include weatherItem(condition, 1.3em);
    }
    .forecast__windSpeed {
        @include weatherItem(windS, 0.9em);
    }
    .forecast__low {
        @include weatherItem(low);
    }
    .forecast__windDirection {
        @include weatherItem(windD, 0.9em);
    }
    .forecast__high {
        @include weatherItem(high);
    }
    .forecast__humidity {
        @include weatherItem(humidity, 0.9em);
    }
}