@import "~sassVariables";
.mainContainer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
}
html * {
    font-family: "Roboto";
    font-weight: 400;
}
body {
    background-color: $accent;
}