.link {
    // make flexbox
    display: flex;
    grid-row: 2 / span 1;
    grid-column: 1 / span 3;
    justify-content: space-around;
    // padding-right: 25%;
    // grid-template: auto / repeat(24, 1fr);
    height: 3rem;
}

.link__reddit {
    display: grid;
    // grid-column: 2 / span 2;
    background-color: #607d8b;
    color: white;
    border-radius: 24px;
    height: 3rem;
    grid-template: 1fr / 3rem 1fr;
    padding-right: 8%;
    img {
        grid-column: 1 /span 1;
        border-radius: 50%;
        height: 3rem;
        width: 3rem;
    }
    p {
        margin-left: 25%;
        grid-column: 2;
    }
}

.link__medium {
    @extend .link__reddit;
    color: #18B475;
    // grid-column: 4 / span 2;
}

.link__youtube {
    @extend .link__reddit;
    color: #282828;
    // grid-column: 6 / span 2;
}
