.link {
    display: flex;
    grid-row: 2 / span 1;
    grid-column: 4 / span 5;
    justify-content: space-around;
    height: 3rem;
    margin-bottom: 1rem;
}

.link__base {
    display: grid;
    background-color: #607d8b;
    border-radius: 24px;
    height: 3rem;
    grid-template: 1fr / 3rem 1fr;
    padding-right: 8%;
    img {
        grid-column: 1 /span 1;
        border-radius: 50%;
        height: 3rem;
        width: 3rem;
    }
    p {
        margin-left: 25%;
        grid-column: 2;
    }
}
.link__reddit {
    @extend .link__base;
    color: white;
}
.link__medium {
    @extend .link__reddit;
    color: #282828;
}

.link__youtube {
    @extend .link__reddit;
    color: #282828;
}
