
.navWrap {
    display: flex;
    height: 4rem;
    background-color: #607d8b;
    a {
        font-size: 1.25em;
        margin-right: .75em;
        margin-left: .75em;
    }
}
nav {
    grid-column: 1 / 13;
    grid-row: 1 / span 1;
    margin-bottom: 1rem;
}
a {
	color: white;
	text-decoration: none;

  // Gets rid of tap active state
  -webkit-tap-highlight-color: transparent;
}

.brand {
    margin: auto auto auto 4rem;
}