@import "~sassVariables";
nav {
    display: grid;
    height: 4rem;
    background-color: $primary-dark;
    padding-left: 2rem;
    grid-template-columns: 1fr auto 2fr;
    grid-template-areas: "brand . weather";
    margin-bottom: 1rem;
    a {
        font-size: 1.25em;
        margin-right: .75em;
        margin-left: .75em;
    }
    .brand {
        grid-area: brand;
        margin: auto;
    }
}
a {
	color: white;
	text-decoration: none;

  // Gets rid of tap active state
  -webkit-tap-highlight-color: transparent;
}

