@import "~materialize_sass/materialize.scss";
@mixin weatherItem($grid-item) {
    margin: auto;
    grid-area: $grid-item;
} 
.weatherCard {
    display: grid;
    width: 25vw;
    height: $navbar-height;
    margin: auto 0;
    grid-column: 10 / 12;
    grid-row: 2 / 3;
    
    grid-template-rows: 2;
    grid-template-columns: 1;

    grid-template-areas: 
    "currentWeather"
    "weatherDrops";

    // &:hover .weatherDrops{
    //     display: grid;
    // }
    // &:hover {
    //     grid-template-rows: $navbar-height 1fr 1fr 1fr;
    //     height: $navbar-height*4;
    // }
}
.drops {
    display: grid;
    margin: auto;
    width: 20vw;
    border-top: 2px solid white;
    font-size: .7rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 4;
    grid-template-areas: 
            ". day ."
        ". condition windS"
        "low . windD"
        "high . humidity";

    .day {
        @include weatherItem(day);
    }
    .condition {
        @include weatherItem(condition);
    }
    .windS {
        @include weatherItem(windS);
    }
    .low {
        @include weatherItem(low);
    }
    .windD {
        @include weatherItem(windD);
    }
    .high {
        @include weatherItem(high);
    }
    .humidity {
        @include weatherItem(humidity);
    }
}
.dropsContainer {
    grid-area: drop;
    display: none;
    grid-template-rows: auto;
}

.currentWeather {
    display: grid;
    grid-area: currentWeather;
    color: white;
    background-color: color("blue-grey", "lighten-1");

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    ". city ."
    "low now high"
    "humidity condition UV"
    "drop drop drop";

    .date {
        @include weatherItem(date);
    }
    .city {
        @include weatherItem(city);
        font-size: 1.1em;
    }
    .low {
        @include weatherItem(low);
        font-size: 1.3em;
    }
    .now {
        @include weatherItem(now);
        font-size: 1.4em;
    }
    .high {
        @include weatherItem(high);
        font-size: 1.3em;
    }
    .humidity {
        @include weatherItem(humidity);
    }
    .condition {
        @include weatherItem(condition);
        font-size: 1.3em;
    }
    .UV {
        @include weatherItem(UV);
    }
}

